<div class="page-header">
  <h1>
    Lista de Bovinos
    <%= link_to 'Novo Bovino', new_bovino_path, class: 'btn btn-primary pull-right' %>
  </h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Número</th>
      <th>Nome</th>
      <th>Raça</th>
      <th>Pelagem</th>
      <th>Sexo</th>
      <th>Nascimento</th>
      <th class="col-xs-2"></th>
    </tr>
  </thead>

  <tbody>
    <% @bovinos.each do |bovino| %>
      <tr>
        <td><%= bovino.numero %></td>
        <td><%= bovino.nome %></td>
        <td><%= bovino.raca %></td>
        <td><%= bovino.pelagem %></td>
        <td><%= bovino.sexo %></td>
        <td><%= l bovino.data_nascimento %></td>
        <td>
          <%= link_to 'Editar', edit_bovino_path(bovino) %> |
          <%= link_to 'Remover', bovino, method: :delete, data: { confirm: 'Tem certeza?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
